/* Structure */
.center{
    text-align: center;
}

.toy {
    display: inline-block;
    margin: 10px;
    position: relative;
    width: 30%;
    height: 30%;
    font-size: 20px;
}

.toy img{
    width: 100%;
    height: 100%; 
    transition: opacity 0.5s;
}

.toy .overlay{
    position: absolute;
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 100%; 
    background-color: rgba(0, 0, 0, 0.1);
    color: black;
    display: flex; 
    flex-direction: column;
    align-items: center; 
    justify-content: center;
    opacity: 0;
    transition: opacity 0.3s;
}

.toy:hover img {
    opacity: 0.2;
}

.toy:hover .overlay {
    opacity: 1;
}

.col1of3{
    width: 30%;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

/* Typography */
body{
    font-family: Arial, Helvetica, sans-serif;
    color: #333333;
    background: #3399FF;
}

@media only screen and (min-width: 768px){

    .flex-container {
        display: flex;
        justify-content: center;
        width: 90%; 
        margin: auto;
        flex-wrap: wrap; 
    }
}

@media only screen and (max-width: 768px){

    .flex-container {
        display: block; 
        justify-content: center;
        width: 90%; 
        margin: auto;
    }

    .toy {
        width: 100%; 
        height: auto;
    }
}