body{
    background: grey;
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    color: white;
    text-align:center;
}

h1:hover{
color:#DF3F1E;
}

img{
    max-width:50%;
    height:auto;
}

.assignment{
    display:flex;
    padding:10px;
    margin:10px;
    background: lightgrey;
}

.assignment img{
    width:200px;
    margin: 10px;
    border: 4px solid white;
}

.assignment img:hover{
    color: #DF3F1E;
}

a{
    text-decoration:none;
    color: white;
}

a:hover{
    color: #DF3F1E;
}