/* Structure */
body{
    background-color: grey;
}

h1{
    color: gray;
}

h2,
p{
    color: silver;
}

#content {
    background:rgba(0, 0, 0, 0.9);
    width: 75%;
    margin: auto;
    padding: 5px;
    border-radius: 5px;
    text-align: center;
}

#main-content {
    background: black;
}

#assignments {
    text-align: center;
    background: rgba(0, 0, 0, 0.9);
    width: 75%;
    margin: auto;
    padding: 5px;
}

#description {
    text-align: center;
    background: rgba(0, 0, 0, 0.9);
    width: 75%;
    margin: auto;
    padding: 5px;
}
/* Typography */
body{
    font-family: Arial, Helvetica, sans-serif;
    background: url(images/background.jpg);
}

/* Navigation */
#main-nav a{
    text-decoration: none;
    color: green;
}

#main-nav li{
    list-style-type: none;
    display: inline-block;
    padding: 10px;
    margin: 10px;
}

#list-item{
    background: rgba(0, 0, 0, 0.9);
    text-align: center;
}

/* Larger Resolutions */
@media only screen and (min-width: 768px){
    #main-nav li{
        display: inline-block;
    }

    .flex-container {
        justify-content: center;
        display:flex;
        width: 100%;
    }

    .col1of2 {
        flex: 1;
    }
}