/* Structure */
:root{
    --main-bg-color: #4E598C;
    --hr-color: #7D7ABC;
    --button-color: #3B3355;
    --link-color: #B9CFD4;
    --text-color: #B9CFD4;
}

#welcome{
    text-align: center;
    font-size: 24px;
    margin-top: 100px;
}

body{
    background: var(--main-bg-color);
    color: var(--text-color);
}

hr{
    border: 1px solid var(--hr-color);
}

.menu-item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 20px;
    width: 200px;
  }
  
.menu-image {
    width: 100px;
    height: 100px;
    object-fit: cover;
}
  
.menu-item-name {
    text-align: center;
    margin-bottom: 5px;
}
  
.menu-item-price {
    text-align: right;
}
  
#item-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


body,
html{
    margin: 0;
    padding: 0;
}

#welcome-div h1{
    text-align: center;
}

.col1of2{
    width: 40%;
    text-align: center;
}

#center{
    text-align: center;
}

form label,
form textarea{
    display: block;
}

#contact-message{
    height: 100px;
    width: 150px;
}

.hidden{
    display: none;
}

#menu-item{
    margin: 40px;
    text-align: left;
    display: flex;
    align-items: center;
}

#menu-line{
    width: 85%;
    margin-left: 30px;
}

#menu-image{
    padding: 20px;
    height: 100px;
    width: 100px;
}

#drink-line{
    width: 40%;
}

#drink {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 40px;
}

#order-item{
    text-align: left;
    margin: 50px;
    align-items: center;
    display: flex;
}

#order-image{
    padding: 20px;
    height: 100px;
    width: 100px;
}

#button-add,
#button-add-drink{
    margin-left: 50px;
}

.menu-item-price {
    margin-left: auto;
}

#button-add,
#button-subtract,
#button-add-drink,
#button-subtract-drink{
    width: 25px;
    height: 25px;
}

.col1of4{
    width: 20%;
    text-align: center;
}

.col1of3{
    text-align: center;
    width: 30%;
    border-left: 1px solid var(--hr-color);
    border-right: 1px solid var(--hr-color);
}

#button-login{
    height: 40px;
    width: 150px;
    background: var(--button-color);
    color: var(--text-color);
    font-size: 16px;
}

.button-container{
    text-align: center;
}

.information{
    font-size: 24px;
}

#username,
#password,
#confirm-password{
    height: 20px;
    width: 200px;
}

.login{
    font-size: 20px;
    text-align: center;
}

.login label {
    display: inline-block;
    width: 200px;
    text-align: left;
    margin-right: 200px;
}

.cc-info{
    font-size: 20px;
    text-align: center;
}

#order-burgers,
#order-drinks{
    text-align: center;
}

#index-desc{
    font-size: 20px;
}

.cc-info label {
    display: inline-block;
    width: 200px;
    text-align: left;
    margin-right: 50px;
}

.upload-text{
    text-align: left;
    font-size: 20px;
    margin-left: 14px;
}
.apply{
    font-size: 20px;
    text-align: center;
}

.apply label {
    display: inline-block;
    width: 200px;
    text-align: left;
    margin-right: 200px;
}

#button-upload{
    margin-left: 420px;
    background:blue;
    color: white;
    height: 45px;
    width: 150px;
}
#button-place-order{
    height: 50px;
    width: 150px;
    background: var(--button-color);
    color: var(--text-color);
    font-size: 20px;
    margin-right: 250px;
    margin-top: 30px;
}

#logo{
    height: 300px;
    width: 400px;
}

#button-check-out{
    height: 50px;
    width: 150px;
    background: var(--button-color);
    color: var(--text-color);
    font-size: 20px;
    text-align: center;
    margin-bottom: 30px;
}

#apply-thanks{
    text-align: right;
}

#button-apply,
#button-submit{
    background: var(--button-color);
    color: var(--text-color);
    height: 50px;
    width: 150px;
}

#menu-larger {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 300px;
}

#back{
    color: var(--text-color);
    text-decoration: none;
}

#sign-up{
    text-decoration: none;
    color: var(--text-color);
}

#map{
    height: 250px;
    width: 300px;
}

/* Typography */
body{
    font-family: Arial, Helvetica, sans-serif;
}
/* Main Navigation */
#main-nav a{
    text-decoration: none;
    color: var(--link-color);
}

#main-nav li{
    padding: 20px;
    font-size: 24px;
    margin-left: 80px;
    text-align: center;
}

#main-nav ul{
    justify-content: center;
    display: flex;
    margin: 0;
    padding: 0;
}

#main-nav{
    background: var(--nav-bg-color);
}

#main-nav:visited{
    color: black;
}

#main-nav{
    margin: 0;
    padding: 0;
}

.review {
    background-color: lightblue;
    border: 2px solid #000000;
    padding: 10px;
    margin: 0 auto;
    margin-bottom: 10px;
    color: black;
    width: 30%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 10em;
}

.review-name {
    border-bottom: 1px solid #000000;
    width: 100%;
}

.review-rating {
    font-weight: bold;
}

.review-content {
    margin-top: 20px;
}

.edit-link {
    text-align: right;
    cursor: pointer;
    margin-right: auto;
    color: grey;
}

.delete-link {
    text-align: right;
    cursor: pointer;
    margin-right: auto;
    color: maroon;
}


/* Larger Resolutions */
@media only screen and (min-width: 768px){
    #main-nav li{
        display: inline-block;
    }

    .flex-container {
        justify-content: center;
        display:flex;
        width: 100%;
    }

}

/* Smaller Resolutions */
@media only screen and (max-width: 768px) {
    body {
        margin: 0;
        padding: 0;
    }

    #main-nav li {
        display: block;
        margin: 10px 0;
    }

    #main-nav ul {
        flex-direction: column;
        align-items: center;
    }

    .flex-container {
        justify-content: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    #main-nav {
        margin: 0;
        padding: 0;
    }

    #button-login {
        display: block;
        margin: 0 auto;
        margin-top: 10px;
    }

    #map {
        display: flex;
    }

    #welcome {
        text-align: center;
        font-size: 24px;
        margin-top: 10px;
    }

    .col1of2 {
        width: 80%;
        text-align: center;
        margin-top: 20px;
    }

    #logo {
        height: auto;
        max-width: 100%;
    }

    #index-desc {
        font-size: 20px;
    }

    #button-check-out {
        height: 50px;
        width: 150px;
        background: var(--button-color);
        color: var(--text-color);
        font-size: 20px;
        text-align: center;
        margin-bottom: 30px;
    }
}
